#wrap {
	width: 800px;
	margin: 0 auto 0 auto;
}

#topForm {
	text-align: right;
}

#product, #pageForm, #searchForm {
	text-align: center;
}

#pList {
	text-align: center;
}

th {
	text-align: center;
}