<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>shopping-mall</display-name>
  
  <servlet>
	  <servlet-name>userController</servlet-name>
	  <servlet-class>com.shopping.UserController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>userController</servlet-name>
  	<url-pattern>/signup</url-pattern>
  	<url-pattern>/signup_sucess</url-pattern>
  	<url-pattern>/do_signup</url-pattern>
  	<url-pattern>/do_user_delete</url-pattern>
  	<url-pattern>/sucess_user_delete</url-pattern>
  	<url-pattern>/login</url-pattern>
  	<url-pattern>/logout</url-pattern>
  	<url-pattern>/do_login</url-pattern>
  	<url-pattern>/main</url-pattern>
  	
  	<url-pattern>/product_list</url-pattern>
  	<url-pattern>/get_product_list</url-pattern>
  	<url-pattern>/product_add</url-pattern>
  	<url-pattern>/do_product_add</url-pattern>
  	<url-pattern>/product_update</url-pattern>
  	<url-pattern>/do_product_update</url-pattern>
  	<url-pattern>/get_product_update</url-pattern>
  	<url-pattern>/do_product_delete</url-pattern>
  	<url-pattern>/product_multi_delete</url-pattern>
  	
  </servlet-mapping>
  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>